// font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
body {
  background-color: rgb(71, 55, 55);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  overflow-x: hidden !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color-text: white;
$secondary-color-text: #2c2c2c;
$hover: rgb(236, 154, 0);
$bg-btn: rgb(207, 83, 49);
$shadow-text: 1px 1px 2px rgba(0, 0, 0, 0.8);

@mixin flexItem($content: center, $align: start) {
  display: flex;
  justify-content: $content;
  align-items: $align;
}

@mixin templateBtnDekstop($bg, $text-color) {
  padding: 20px 35px;
  border-radius: 35px;
  background-color: $bg;
  border: none;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  color: $text-color;
}

@mixin templateBtnPhoneJad() {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1em;
  font-weight: 700;
}

@mixin templateBtnPhoneUp() {
  padding: 15px 25px;
  border-radius: 35px;
  font-size: 1em;
}

@mixin templateNavSlide() {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  right: 0;
  top: 0;
  width: 35%;
  height: 100vh;
  z-index: -2;
  background-color: rgba(255, 255, 255, 0.905);
}

@mixin templateSlider($nameAnima) {
  animation-name: $nameAnima;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@mixin templateAnimasi($translateX, $display, $opacity) {
  transform: translateX($translateX);
  display: $display;
  opacity: $opacity;
}

@mixin navAfter(){
  content: "";
  display: block;
  border: 1px solid $hover;
  width: 50%;
  margin: auto;
  margin-top: 5px
}

// Animasi
@keyframes slider {
  0% {
    @include templateAnimasi(150px, none, 0);
  }

  100% {
    @include templateAnimasi(0px, flex, 1);
  }
}

@keyframes closeSlider {
  0% {
    @include templateAnimasi(0px, flex, 1);
  }

  100% {
    @include templateAnimasi(150px, none, 0);
  }
}

// Navbar
.navbar {
  @include flexItem(space-around, center);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  padding: 20px 0;
  background-color: transparent;
  .container-brand {
    font-size: 1.8em;
    a {
      color: $primary-color-text;
      text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.5);
      &:hover {
        color: $hover;
      }
    }
  }
  ul {
    @include flexItem(space-evenly);
    width: 40%;
    padding: 10px;
    // background-color: salmon;
    li {
      a {
        font-size: 1.2;
        color: $primary-color-text;
        font-weight: 700;
        transition: all 0.2s;
        text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.5);

        &.active {
          color: $hover;
        }

      }
    }
  }

  .menu-toggle {
    display: none;
  }
}

// Home
.container-main {
  background-image: url(../assets/img/bg-masthead.jpg);
  width: 100vw;
  height: 100vh;
  background-position-y: center;
  background-size: cover;
  position: relative;
  @include flexItem(center, center);
  z-index: 3;
  .main {
    @include flexItem(center, center);
    flex-direction: column;
    width: 60%;
    text-align: center;
    .header {
      font-size: 2.5em;
      color: $primary-color-text;
      font-weight: 800;
      padding: 20px 10px;
      text-shadow: $shadow-text;

      &::after {
        content: "";
        display: block;
        margin: auto;
        width: 10%;
        border-top: 5px solid $bg-btn;
        margin-top: 30px;
      }
    }

    .paragraf {
      font-size: 1em;
      color: rgba(255, 255, 255, 0.747);
      padding: 20px 10px;
      text-shadow: $shadow-text;
    }

    .button {
      padding: 20px 10px;
      button {
        @include templateBtnDekstop($bg-btn, white);
        &:hover {
          background-color: darken($color: $bg-btn, $amount: 20%);
        }
      }
    }
  }
  .header,
  .paragraf,
  .button {
    z-index: 4;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 43, 43, 0.542);
  }
}

// About
.container-about {
  background-color: $bg-btn;
  height: 60vh;
  width: 100vw;
  color: white;
  margin-top: 20vh;
  @include flexItem(center, center);
  .main-about {
    @include flexItem(center, center);
    flex-direction: column;
    gap: 80px;
    width: 60%;
    text-align: center;
    .header-about {
      font-size: 2.5em;
      font-weight: 700;
    }

    .paragraf-about {
      font-size: 1.5em;
      font-weight: 500;
    }

    .button-about {
      a {
        button {
          @include templateBtnDekstop(white, black);
          text-transform: uppercase;
          &:hover {
            background-color: darken($color: white, $amount: 10%);
          }
        }
      }
    }
  }
}

// Dekstop keatas
@media (min-width: 993px) {
  // nav
  ul {
    li {
      a {
        &:hover::after {
          @include navAfter();
        }

        &:hover {
          color: $hover;
        }

        &.active::after{
          @include navAfter();
        }

      }
    }
  }
}

// Tab
@media screen and (max-width: 992px) {
  .navbar {
    @include flexItem(space-around, center);
    padding: 30px 0px;
    gap: 100px;
    .container-brand {
      font-size: 2.7em;
    }
    ul {
      @include templateNavSlide();
      li {
        a {
          font-size: 1.1em;
          font-weight: 500;
          text-shadow: none;
          color: $secondary-color-text;
        }
      }

      &.slider {
        display: flex;
        @include templateSlider(slider);
      }

      &.closeSlider {
        @include templateSlider(closeSlider);
      }
    }

    .menu-toggle {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      gap: 10px;
      padding: 10px;
      // background-color: salmon;
      span {
        width: 50px;
        background-color: rgb(195, 195, 194);
        height: 4px;
        transition: 0.5s;
      }

      &.trigger {
        transition: 0.5s;
        span:nth-child(1) {
          transform-origin: 0 0;
          transform: rotate(45deg);
          margin-bottom: 4.5px;
        }

        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform-origin: 0 100%;
          transform: rotate(-45deg);
          margin-top: 2.5px;
        }
      }
    }
  }

  // Home
  .container-main {
    background-position-x: center;
    .main {
      width: 80%;
      .header {
        font-size: 2.4em;
        font-weight: 600;
      }

      .paragraf {
        font-size: 1.4em;
      }

      .button {
        button {
          font-size: 1.5em;
        }
      }
    }
  }

  // About 
  .container-about{
    .main-about {
      width: 85%;
      gap: 50px;

      .header-about{
        font-size: 2.7em;
      }

      .paragraf-about {
        font-size: 1.3em;
      }

      .button-about {
        a{
          button{
            font-size: 1.5em;
            padding: 30px 25px;
            border-radius: 50px;
          }
        }
      }
    }
  }
}

// Smartphone kekinian
@media screen and (max-width: 576px) {
  .navbar {
    @include flexItem(space-between, center);
    padding: 20px 20px;
    .container-brand {
      font-size: 1.3em;
      padding: 10px 0px;
    }
    ul {
      @include templateNavSlide();
      li {
        a {
          font-size: 1.1em;
          font-weight: 500;
          color: $secondary-color-text;
          text-shadow: none;
        }
      }

      &.slider {
        display: flex;
        @include templateSlider(slider);
      }

      &.closeSlider {
        @include templateSlider(closeSlider);
      }
    }

    .menu-toggle {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      gap: 5px;
      // background-color: salmon;
      span {
        width: 40px;
        background-color: rgb(195, 195, 194);
        height: 4px;
        padding: 0;
        transition: 0.5s;
      }

      &.trigger {
        transition: 0.5s;

        span:nth-child(1) {
          transform-origin: 0 0;
          transform: rotate(45deg);
          margin-bottom: 4.5px;
        }

        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform-origin: 0 100%;
          transform: rotate(-45deg);
          margin-top: 2.5px;
        }
      }
    }
  }

  // Home
  .container-main {
    background-position-x: center;
    .main {
      width: 90%;
      gap: 10px;
      .header {
        font-size: 1.3em;
        padding: 5px 20px;
        font-weight: 600;
        &::after {
          width: 20%;
        }
      }
      .paragraf {
        font-size: 0.85em;
      }

      .button {
        .btn-home {
          @include templateBtnPhoneUp();
        }
      }
    }
  }

  // About
  .container-about {
    .main-about {
      gap: 50px;
      width: 85%;

      .header-about {
        font-size: 1.9em;
      }

      .paragraf-about {
        font-size: 1em;
      }

      .button-about {
        a {
          button {
            @include templateBtnPhoneUp();
          }
        }
      }
    }
  }
}

// Smartphone Jadul
@media (max-height: 570px) {
  // Navbar
  .navbar {
    .container-brand {
      font-size: 1em;
      padding: 5px 2px;
      text-align: center;
      font-weight: 400;
      h4 {
        letter-spacing: 2px;
      }
    }

    .menu {
      li {
        a {
          font-size: 0.8em;
          font-weight: 600;
        }
      }
    }
    .menu-toggle {
      gap: 6px;
      span {
        height: 3px;
      }
    }
  }

  // home
  .container-main {
    .main {
      width: 100%;
      margin-top: 100px;
      gap: 2px;
      .header {
        font-size: 1em;
        padding: 5px 20px;
        &::after {
          width: 20%;
        }
      }
      .paragraf {
        font-size: 0.75em;
        font-weight: 500;
      }

      .button {
        padding: 5px 5px;
        button {
          @include templateBtnPhoneJad();
        }
      }
    }
  }

  // About
  .container-about {
    .main-about {
      width: 90%;
      gap: 20px;
      .header-about {
        font-size: 1.4em;
      }

      .paragraf-about {
        font-size: 0.7em;
      }

      .button-about {
        a {
          button {
            @include templateBtnPhoneJad();
          }
        }
      }
    }
  }
}
