<nav class="navbar">
  <div class="container-brand">
    <h4><a href="/home">Glenn Rhee's</a></h4>
  </div>
  <ul class="menu">
    <li><a href="/.about">About</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <div class="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
