<nav class="navbar">
  <div class="container-brand">
    <h4><a href="/">Glenn Rhee's</a></h4>
  </div>
  <ul class="menu">
    <li><a href="/about" class="menu-page">About</a></li>
    <li><a href="/services" class="menu-page">Services</a></li>
    <li><a href="/portfolio" class="menu-page">Portfolio</a></li>
    <li><a href="/contact" class="menu-page">Contact</a></li>
  </ul>
  <div class="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
