<div class="container-error">
  <div class="main">
    <h1>404 Not Found</h1>
    <p>Oops. It seems that you've landed on wrong url</p>
    <a href="/">
      <button>Bring me back</button>
    </a>
  </div>
</div>
