<div class="container-about">
  <div class="main-about">
    <div class="header-about">
      <h4>We've got what you need!</h4>
    </div>
    <div class="paragraf-about">
      <p>
        We developed a concept to market our products internationally while
        relying on consumer confidence.
      </p>
    </div>
    <div class="button-about">
      <a href="/services">
        <button>Get Started!</button>
      </a>
    </div>
  </div>
</div>
