<div class="container-main">
  <div class="main">
    <div class="header">
      <h4>To make your new business top of every cliff.</h4>
    </div>
    <div class="paragraf">
      <p>
        You’re ambitious and ready to make things happen you’ve already gone so
        far in such a short time, I know you’ll continue to prosper and succeed
        I’m hoping only the best for you and your new business.
      </p>
    </div>
    <div class="button">
      <a href="/about">
        <button class="btn-home">Find out more</button>
      </a>
    </div>
  </div>
</div>
