<div class="container-portfolio">
  <div class="content-img img-satu" data-index="1">
    <div class="content">
      <h4>Category</h4>
      <h3>Project Name</h3>
    </div>
  </div>
  <div class="content-img img-dua" data-index="2">
    <div class="content">
      <h4>Category</h4>
      <h3>Project Name</h3>
    </div>
  </div>
  <div class="content-img img-tiga" data-index="3">
    <div class="content">
      <h4>Category</h4>
      <h3>Project Name</h3>
    </div>
  </div>
  <div class="content-img img-empat" data-index="4">
    <div class="content">
      <h4>Category</h4>
      <h3>Project Name</h3>
    </div>
  </div>
  <div class="content-img img-lima" data-index="5">
    <div class="content">
      <h4>Category</h4>
      <h3>Project Name</h3>
    </div>
  </div>
  <div class="content-img img-enam" data-index="6">
    <div class="content">
      <h4>Category</h4>
      <h3>Project Name</h3>
    </div>
  </div>
</div>

<div class="modal">
  <div class="action prev"><</div>
  <div class="modal-img"></div>
  <div class="action next">></div>
</div>
