<div class="container-portfolio">
  <div class="content-img img-satu">
    <div class="content">
      <h4>Category</h4>
      <h3>Project Name</h3>
    </div>
  </div>
  <div class="content-img img-dua">
    <div class="content">
      <h4>Category</h4>
      <h3>Project Name</h3>
    </div>
  </div>
  <div class="content-img img-tiga">
    <div class="content">
      <h4>Category</h4>
      <h3>Project Name</h3>
    </div>
  </div>
  <div class="content-img img-empat">
    <div class="content">
      <h4>Category</h4>
      <h3>Project Name</h3>
    </div>
  </div>
  <div class="content-img img-lima">
    <div class="content">
      <h4>Category</h4>
      <h3>Project Name</h3>
    </div>
  </div>
  <div class="content-img img-enam">
    <div class="content">
      <h4>Category</h4>
      <h3>Project Name</h3>
    </div>
  </div>
</div>

