<div class="container-services">
  <div class="header">
    <h4>At Your Services</h4>
  </div>
  <div class="body-services">
    <div class="card">
      <div class="header-services">
        <span class="material-symbols-outlined">Diamond</span>
      </div>
      <div class="title">
        <h5>Sturdy Themes</h5>
      </div>
      <div class="main-services">
        <p>Our themes are updated regularly to keep them bug free!</p>
      </div>
    </div>
    <div class="card">
      <div class="header-services">
        <span class="material-symbols-outlined">Computer</span>
      </div>
      <div class="title">
        <h5>Up to Date</h5>
      </div>
      <div class="main-services">
        <p>All dependencies are kept current to keep things fresh.</p>
      </div>
    </div>
    <div class="card">
      <div class="header-services">
        <span class="material-symbols-outlined"> language </span>
      </div>
      <div class="title">
        <h5>Ready to Publish</h5>
      </div>
      <div class="main-services">
        <p>You can use this design as is, or you can make changes!</p>
      </div>
    </div>
    <div class="card">
      <div class="header-services">
        <span class="material-symbols-outlined"> favorite </span>
      </div>
      <div class="title">
        <h5>Made with Love</h5>
      </div>
      <div class="main-services">
        <p>Is it really open source if it's not made with love?</p>
      </div>
    </div>
  </div>
</div>
