@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  transform: scale(2.5);
  color: #f4623a;
}

body {
  background-color: rgb(71, 55, 55);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slider {
  0% {
    transform: translateX(150px);
    display: none;
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    display: flex;
    opacity: 1;
  }
}
@keyframes closeSlider {
  0% {
    transform: translateX(0px);
    display: flex;
    opacity: 1;
  }
  100% {
    transform: translateX(150px);
    display: none;
    opacity: 0;
  }
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  padding: 25px 0;
  background-color: transparent;
}
.navbar .container-brand {
  font-size: 1.8em;
  padding: 10px 0;
}
.navbar .container-brand a {
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.navbar .container-brand a:hover {
  color: rgb(236, 154, 0);
}
.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  width: 40%;
}
.navbar ul li {
  margin: 20px 0;
}
.navbar ul li a {
  font-size: 1.2;
  color: white;
  font-weight: 700;
  transition: all 0.2s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.navbar ul li a.active {
  color: rgb(236, 154, 0);
}
.navbar .menu-toggle {
  display: none;
}

.container-main {
  background-image: url(../assets/img/bg-masthead.jpg);
  width: 100vw;
  height: 100vh;
  background-position-y: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.container-main .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  text-align: center;
}
.container-main .main .header {
  font-size: 2.5em;
  color: white;
  font-weight: 800;
  padding: 20px 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.container-main .main .header::after {
  content: "";
  display: block;
  margin: auto;
  width: 10%;
  border-top: 5px solid rgb(207, 83, 49);
  margin-top: 30px;
}
.container-main .main .paragraf {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.747);
  padding: 20px 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.container-main .main .button {
  padding: 20px 10px;
}
.container-main .main .button button {
  padding: 20px 35px;
  border-radius: 35px;
  background-color: rgb(207, 83, 49);
  border: none;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}
.container-main .main .button button:hover {
  background-color: #7d321d;
}
.container-main .header,
.container-main .paragraf,
.container-main .button {
  z-index: 4;
}
.container-main::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 43, 43, 0.542);
}

.container-about {
  background-color: rgb(207, 83, 49);
  height: 60vh;
  width: 100vw;
  color: white;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-about .main-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  width: 60%;
  text-align: center;
}
.container-about .main-about .header-about {
  font-size: 2.5em;
  font-weight: 700;
}
.container-about .main-about .paragraf-about {
  font-size: 1.5em;
  font-weight: 500;
}
.container-about .main-about .button-about a button {
  padding: 20px 35px;
  border-radius: 35px;
  background-color: white;
  border: none;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  color: black;
  text-transform: uppercase;
}
.container-about .main-about .button-about a button:hover {
  background-color: #e6e6e6;
}

.container-services {
  height: 70vh;
  width: 100vw;
  margin-top: 15vh;
  background-color: rgb(227, 227, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.container-services .header {
  font-size: 2.5em;
}
.container-services .header h4 {
  font-weight: 500;
}
.container-services .body-services {
  display: grid;
  width: 80%;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2.5fr));
  text-align: center;
}
.container-services .body-services .card {
  padding: 10px;
}
.container-services .body-services .card .title {
  font-size: 1.7em;
  margin-top: 12px;
}
.container-services .body-services .card .title h5 {
  font-weight: 500;
}
.container-services .body-services .card .main-services {
  color: #6c757d;
  font-size: 0.9em;
  margin-top: 5px;
}

.container-portfolio {
  display: grid;
  height: 70vh;
  width: 100vw;
  margin-top: 15vh;
  grid-template-columns: repeat(3, minmax(200px, 2fr));
}
.container-portfolio .content-img .content {
  background-color: rgba(244, 98, 58, 0.7764705882);
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-portfolio .content-img .content h4 {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 1.7em;
}
.container-portfolio .content-img .content h3 {
  color: white;
  font-weight: 400;
  font-size: 1.9em;
}
.container-portfolio .content-img .content:hover {
  opacity: 1;
}
.container-portfolio .content-img.img-satu {
  background-image: url(../assets/img/portfolio/thumbnails/1.jpg);
}
.container-portfolio .content-img.img-satu {
  background-image: url(../assets/img/portfolio/thumbnails/1.jpg);
}
.container-portfolio .content-img.img-dua {
  background-image: url(../assets/img/portfolio/thumbnails/2.jpg);
}
.container-portfolio .content-img.img-tiga {
  background-image: url(../assets/img/portfolio/thumbnails/3.jpg);
}
.container-portfolio .content-img.img-empat {
  background-image: url(../assets/img/portfolio/thumbnails/4.jpg);
}
.container-portfolio .content-img.img-lima {
  background-image: url(../assets/img/portfolio/thumbnails/5.jpg);
}
.container-portfolio .content-img.img-enam {
  background-image: url(../assets/img/portfolio/thumbnails/6.jpg);
}

.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(190, 185, 171);
}
.container-contact .body-contact {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-contact .body-contact .title {
  font-size: 2em;
  padding: 30px 0;
  width: 40%;
  text-align: center;
}
.container-contact .body-contact .title h4 {
  font-weight: 500;
}
.container-contact .body-contact .title::after {
  content: "";
  display: block;
  width: 20%;
  margin: auto;
  margin-top: 5px;
  border: 2px solid rgb(207, 83, 49);
}
.container-contact .body-contact .subtitle {
  font-size: 1.1em;
  width: 40%;
  text-align: center;
  color: #515960;
}
.container-contact .body-contact .main-contact {
  width: 40%;
}
.container-contact .body-contact .main-contact .input-group {
  width: 100%;
  margin-top: 10px;
}
.container-contact .body-contact .main-contact .input-group input {
  height: 40px;
}
.container-contact .body-contact .main-contact .input-group input:focus {
  border: 0;
  box-shadow: 0 0 2px 1px rgba(255, 72, 72, 0.395);
  outline: rgb(253, 175, 175);
}
.container-contact .body-contact .main-contact .input-group textarea:focus {
  border: 0;
  box-shadow: 0 0 2px 1px rgba(255, 72, 72, 0.395);
  outline: rgb(253, 175, 175);
}
.container-contact .body-contact .main-contact .input-group input,
.container-contact .body-contact .main-contact .input-group textarea {
  padding: 10px 10px;
  border-radius: 10px;
  border: 0;
  font-size: 0.9em;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-family: Arial, Helvetica, sans-serif;
}
.container-contact .body-contact .main-contact .submit-button {
  width: 100%;
  display: flex;
  padding: 1px;
}
.container-contact .body-contact .main-contact .submit-button button {
  width: 100%;
  height: 50px;
  color: #c7c7c7;
  background-color: #f95d31;
  border: none;
  border-radius: 30px;
  font-size: 1.1em;
  cursor: pointer;
}
.container-contact .body-contact .main-contact .submit-button button:hover {
  background-color: #bd310b;
}

@media (min-width: 993px) {
  ul li a:hover::after {
    content: "";
    display: block;
    border: 1px solid rgb(236, 154, 0);
    width: 50%;
    margin: auto;
  }
  ul li a:hover {
    color: rgb(236, 154, 0);
  }
  ul li a.active::after {
    content: "";
    display: block;
    border: 1px solid rgb(236, 154, 0);
    width: 50%;
    margin: auto;
  }
}
@media screen and (max-width: 992px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    gap: 100px;
  }
  .navbar .container-brand {
    font-size: 2.7em;
  }
  .navbar ul {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 0;
    width: 35%;
    height: 100vh;
    z-index: -2;
    background-color: rgba(255, 255, 255, 0.905);
  }
  .navbar ul li a {
    font-size: 1.1em;
    font-weight: 500;
    text-shadow: none;
    color: #2c2c2c;
  }
  .navbar ul.slider {
    display: flex;
    animation-name: slider;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .navbar ul.closeSlider {
    animation-name: closeSlider;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .navbar .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 10px;
    padding: 10px;
  }
  .navbar .menu-toggle span {
    width: 50px;
    background-color: rgb(195, 195, 194);
    height: 4px;
    transition: 0.5s;
  }
  .navbar .menu-toggle.trigger {
    transition: 0.5s;
  }
  .navbar .menu-toggle.trigger span:nth-child(1) {
    transform-origin: 0 0;
    transform: rotate(45deg);
    margin-bottom: 4.5px;
  }
  .navbar .menu-toggle.trigger span:nth-child(2) {
    opacity: 0;
  }
  .navbar .menu-toggle.trigger span:nth-child(3) {
    transform-origin: 0 100%;
    transform: rotate(-45deg);
    margin-top: 2.5px;
  }
  .container-main {
    background-position-x: center;
  }
  .container-main .main {
    width: 80%;
  }
  .container-main .main .header {
    font-size: 2.4em;
    font-weight: 600;
  }
  .container-main .main .paragraf {
    font-size: 1.4em;
  }
  .container-main .main .button button {
    font-size: 1.5em;
  }
  .container-about .main-about {
    width: 85%;
    gap: 50px;
  }
  .container-about .main-about .header-about {
    font-size: 2.7em;
  }
  .container-about .main-about .paragraf-about {
    font-size: 1.3em;
  }
  .container-about .main-about .button-about a button {
    font-size: 1.5em;
    padding: 30px 25px;
    border-radius: 50px;
  }
  .container-services .body-services {
    grid-template-columns: repeat(2, 2fr);
  }
  .container-services .body-services .card {
    padding: 20px;
  }
  .container-services .body-services .card .title {
    margin-top: 15px;
  }
  .container-portfolio {
    grid-template-columns: repeat(2, minmax(200px, 2fr));
  }
}
@media screen and (max-width: 576px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }
  .navbar .container-brand {
    font-size: 1.3em;
    padding: 10px 0px;
  }
  .navbar ul {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 0;
    width: 35%;
    height: 100vh;
    z-index: -2;
    background-color: rgba(255, 255, 255, 0.905);
  }
  .navbar ul li a {
    font-size: 1.1em;
    font-weight: 500;
    color: #2c2c2c;
    text-shadow: none;
  }
  .navbar ul.slider {
    display: flex;
    animation-name: slider;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .navbar ul.closeSlider {
    animation-name: closeSlider;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .navbar .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  .navbar .menu-toggle span {
    width: 40px;
    background-color: rgb(195, 195, 194);
    height: 4px;
    padding: 0;
    transition: 0.5s;
  }
  .navbar .menu-toggle.trigger {
    transition: 0.5s;
  }
  .navbar .menu-toggle.trigger span:nth-child(1) {
    transform-origin: 0 0;
    transform: rotate(45deg);
    margin-bottom: 4.5px;
  }
  .navbar .menu-toggle.trigger span:nth-child(2) {
    opacity: 0;
  }
  .navbar .menu-toggle.trigger span:nth-child(3) {
    transform-origin: 0 100%;
    transform: rotate(-45deg);
    margin-top: 2.5px;
  }
  .container-main {
    background-position-x: center;
  }
  .container-main .main {
    width: 90%;
    gap: 10px;
  }
  .container-main .main .header {
    font-size: 1.3em;
    padding: 5px 20px;
    font-weight: 600;
  }
  .container-main .main .header::after {
    width: 20%;
  }
  .container-main .main .paragraf {
    font-size: 0.85em;
  }
  .container-main .main .button .btn-home {
    padding: 15px 25px;
    border-radius: 35px;
    font-size: 1em;
  }
  .container-about .main-about {
    gap: 50px;
    width: 85%;
  }
  .container-about .main-about .header-about {
    font-size: 1.9em;
  }
  .container-about .main-about .paragraf-about {
    font-size: 1em;
  }
  .container-about .main-about .button-about a button {
    padding: 15px 25px;
    border-radius: 35px;
    font-size: 1em;
  }
  .container-services {
    height: 100%;
    width: 100%;
    gap: 50px;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.889);
  }
  .container-services .header {
    font-size: 1.7em;
    margin-top: 15vh;
  }
  .container-services .body-services {
    margin-bottom: 50px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2.5fr));
  }
  .container-services .body-services .card .header-services {
    margin-top: 20px;
  }
  .container-services .body-services .card .header-services h4 {
    font-weight: 700;
  }
  .container-services .body-services .card .title {
    font-size: 1.4em;
  }
  .container-services .body-services .card .title h5 {
    font-weight: 500;
  }
  .container-portfolio {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, minmax(200px, 2fr));
    padding-bottom: 15vh;
    height: 150%;
  }
}
@media (max-height: 570px) {
  .navbar .container-brand {
    font-size: 1em;
    padding: 5px 2px;
    text-align: center;
    font-weight: 400;
  }
  .navbar .container-brand h4 {
    letter-spacing: 2px;
  }
  .navbar .menu {
    padding: 20px;
  }
  .navbar .menu li a {
    font-size: 0.8em;
    font-weight: 600;
  }
  .navbar .menu-toggle {
    gap: 6px;
  }
  .navbar .menu-toggle span {
    transform: scale(0.8);
    height: 3px;
  }
  .navbar .menu-toggle.trigger {
    transform: scale(0.8);
  }
  .container-main .main {
    width: 100%;
    margin-top: 100px;
    gap: 2px;
  }
  .container-main .main .header {
    font-size: 1em;
    padding: 5px 20px;
  }
  .container-main .main .header::after {
    width: 20%;
  }
  .container-main .main .paragraf {
    font-size: 0.75em;
    font-weight: 500;
  }
  .container-main .main .button {
    padding: 5px 5px;
  }
  .container-main .main .button button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 700;
  }
  .container-about .main-about {
    width: 90%;
    gap: 20px;
  }
  .container-about .main-about .header-about {
    font-size: 1.4em;
  }
  .container-about .main-about .paragraf-about {
    font-size: 0.7em;
  }
  .container-about .main-about .button-about a button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 700;
  }
  .container-services .header {
    font-size: 1.5em;
    margin-top: 18vh;
  }
  .container-services .body-services {
    gap: 10px;
    align-items: center;
  }
  .container-services .body-services .card {
    align-self: center;
    margin-bottom: 20px;
  }
  .container-services .body-services .card .title {
    font-size: 1.2em;
    margin-top: 10px;
  }
  .container-portfolio .content-img .content {
    width: 100%;
    height: 100%;
  }
  .container-portfolio .content-img:nth-child(1) {
    margin-top: 10px;
  }
}/*# sourceMappingURL=main.css.map */